.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px 4px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  background: rgba(var(--green-color-rgb), 0.8);
  border-radius: 15px;
  border: 2px solid var(--yellow-color);
  transition: all 0.2s ease 0s;
}

.button:hover {
  background: rgba(var(--green-color-rgb), 1);
}
