.admin-page {
  width: 100%;
  padding: 20px;
}

.admin-page .button {
  margin: 0 0 30px;
}

.admin-page__title {
  margin: 0 0 30px;
  font-size: 24px;
}

.admin-page__table {
}

.admin-page__table img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.admin-page__table td {
  padding: 10px 0;
  text-align: center;
}

.admin-page__table td .button {
  margin: 0 auto;
  background: var(--red-color);
}

.admin-page__table td .button:hover {
  opacity: 0.8;
}
