.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 0;
  padding: 30px 20px;
  font-size: 20px;
  color: var(--white);
  background: var(--black);
}

.footer p {
  font-style: oblique;
}
